name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always
  DEFAULT_RUST_VERSION: 1.92.0

jobs:
  build:
    if: github.repository == 'Azure/kimojio-rs'

    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [ 1.90.0, 1.92.0 ]

    steps:
    - uses: actions/checkout@v6

    - name: Remove toolchain file to avoid conflict with rust version setup.
      run: rm rust-toolchain.toml

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ matrix.rust }}
        components: rustfmt, clippy

    - name: Build
      run: cargo +${{ matrix.rust }} clippy --all-targets -- -D warnings

    - name: Run tests
      run: cargo +${{ matrix.rust }} test --all-targets --features ssl2

    - name: Check docs
      run: cargo +${{ matrix.rust }} test --doc

    - name: Check format
      run: cargo +${{ matrix.rust }} fmt --all -- --check

    - name: Check features
      run: cargo +${{ matrix.rust }} clippy --all-targets --all-features -- -D warnings
    
  coverage:
    if: github.repository == 'Azure/kimojio-rs'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install rust stable
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: ${{ env.DEFAULT_RUST_VERSION }}
        components: llvm-tools

    - uses: taiki-e/install-action@cargo-llvm-cov

    # for now we can see the results in the UI, don't need to save the html

    # - name: Generate coverage
    #   run: |
    #     cargo llvm-cov --workspace --html
    
    # - name: Archive coverage repository
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: coverage-report
    #     path: target/llvm-cov/html

    - name: Coverage summary
      run: |
        cargo llvm-cov --workspace --summary-only
